/*Agregar Elementos a una Lista
Crear una lista desordenada vacía y un botón. Al hacer clic en el botón,
agregar un nuevo elemento a la lista con un número que se incremente
automáticamente.*/

body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

ul{
    list-style-type: disc;
    padding: 0;
}

li{
    margin: 5px 0;
    font-size: 18px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: greenyellow;
}

button:hover{
    background-color: blue;
}
